<<<<<<< HEAD
// /src/custom.scss
=======
//  ./src/custom.scss
>>>>>>> 121cbe89fa7fe764b10617e0ec69fc31467e9b43

$theme-color1: rgba(0, 0, 0, 1);
$theme-color2: rgba(50,50,50, 1);
$theme-accent1: rgb(185, 180, 180);
$theme-accent2: rgb(1,0,68);
$theme-accent3: rgb(102, 78, 10);
$theme-accent4: rgba(124, 6, 6, 1);