// /src/custom.scss

$theme-color-main: rgba(8,8,73, 1);
$theme-color-lite: rgba(255, 255, 255, 1);
$theme-color-dark: $theme-color-main;
$primary-accent: rgba(173,119,235, 1)
$secondary-accent: rgb(191,154,48);
$text-color: rgba(255, 255, 255, 1);
$post-color: rgba(8,8,73, 0.7);